body{
	margin: 0px;
	padding: 0px;
}
.main-content{
	display: flex;
	flex-direction: column;
	
}
.bar-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;


}
.navbar{
	display: flex;
	height: 100px;
	background-color: black;
	color: white;
	justify-content: space-evenly;
	align-items: center;

}
.alert{
	padding: 10px;
	margin: 30px;
}
.navbar p{
	font-family: 'Outfit', sans-serif;
	font-weight: bold;

}

.element { 
    border: 1px solid;
    width: 15px;
    position: absolute; 
    transition: left 1s;
    background: black;
    margin-left: 230px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn{
	margin-bottom: 20px;
	width: 175px;
}
#container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
  
    height: 300px;
 
}

.highlight {
    background: yellow;
    z-index: 1;
}

.@media screen and (min-width: 675px) {
  .element {
    margin: 50px;
  }
}